<h3>
  <a class="title-link" href="<%= locationURL() %>"><%= current_observation.display_location.full  %> &#x261e; </a>
</h3>

<div class="currently">

  <div class="conditions">
    <img class="weather-icon" alt="<%= current_observation.icon %>" src="<%= current_observation.icon_url %>" />
    <span class="text"><%= current_observation.weather %></span>
  </div>

  <div class="main_info">
    <span class="current_temp"><%= Math.round(current_observation.temp_f)  %>&deg;</span>

    <div class="side-data">
      <div class="feels-like">
        <span class="title">feels like</span>
        <span class="data"><%= current_observation.feelslike_f %>&deg;</span>
      </div>

      <div class="rel-humidity">
        <span class="title">humidity</span>
        <span class="data"><%= current_observation.relative_humidity %> </span>
      </div>

    </div>

  </div>

  <p class="description">
    <%= forecast.txt_forecast.forecastday[0].fcttext %>
  </p>

</div>
